.hero {
 	color-background: #f4f4f4;
 	text-align: center;
	padding-bottom: 10px
 
 }


 .content {

 	width: 1200px;
 	text-align:left;
 	padding-left:50px;
 	padding-right:50px;
 	padding-bottom:10px;

}

p,li {

	color: #707070;
}

header {

	text-align: center;
}

h1 {	
 	color: #DB0038;
 	text-align: center;
  }
h2 {
	color: #3998A3; 
}
h3 { 
	color: #474747;
 }



 .rating{
 	text-align: center;
 	color:#F4B400;
 	size:25px;
 }

 footer,p{
 	text-align:center;

 }